# testing
/coverage

# misc
.DS_Store

# env
**.env
!.env.example.txt

# db data
/dump

/node_modules

# aws cli
AWSCLIV2.pkg
ecs-cli.asc
ecs-params.yml
ecs.config
creds_input.yml
ecs-registry-creds**
ec2runinst.json
dockerhub-iam-policy-tasks-role.json

**/etc

#  build
dist
docker-builds
.terraform
## storybook
storybook-static

# logs
yarn-error.log
npm-debug.log

# bin
.bin
.vscode

# a11ywatch cli

a11ywatch.yml
cli/target
**/terraform/uploads/
.terraform/*
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
tf-cloud-init
tf-cloud-init.pub
terraform/.terraform/*
# google service
gc-service.json
*-gc-service.json
kompose
# dockerhub
my_password.txt
# macos amd64 binary
cli/terraform/terraform
terraform/terraform
results.json
build/test.sh