@import "../../styles/styles.css";

.buttonDefault {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: 'theme("colors.main")';
  box-shadow: 0 10px 13px -2.5px rgba(0, 0, 0, 0.1),
    0 5px 5px -2.5px rgba(0, 0, 0, 0.04);
}
