::-webkit-scrollbar {
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
  background: #1a1a1a;
  transition: all 1s ease-in-out;
}
::-webkit-scrollbar-thumb {
  background: #424242;
  max-width: 5px;
}
