[package]
name = "a11ywatch_cli"
version = "0.6.18"
authors = ["j-mendez <jeff@a11ywatch.com>"]
description = "A11yWatch accessibility CLI."
repository = "https://github.com/a11ywatch/a11ywatch"
readme = "README.md"
keywords = ["a11ywatch", "accessibility", "web", "website_improvement"]
categories = ["accessibility", "command-line-utilities", "development-tools::build-utils"]
license = "MIT"
documentation = "https://docs.rs/a11ywatch_cli"
include = ["src/*", "LICENSE", "README.md"]
edition = "2018"

[dependencies]
clap = { version = "3.2.8", features = ["derive"] }
ureq = { version = "2.4.0", features = ["json", "charset", "brotli"] }
serde = { version = "1.0.136", features = ["derive"] }
serde_json =  { version = "1.0.81" }
dirs = "4.0"
htr = "0.5.4"

[[bin]]
name = "a11ywatch"
path = "src/main.rs"

