$body-font: "PT Serif", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
$header-font: "Montserrat", serif;
$code-font: Consolas, Monaco, "Ubuntu Mono", monospace;

$container-width: 700px;

body {
  font-family: $body-font;
  font-size: 18px;
  line-height: 1.7;
  padding: 2rem;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
}

$link-color: #2f76d0;

a {
  color: $link-color;
  text-decoration: none;
  border-bottom: 1px solid lighten($link-color, 20);

  &:hover {
    border-bottom: 1px solid $link-color;
  }
}

pre {
  padding: 1rem;
  font-family: $code-font;
  overflow: auto;
  font-size: 85%;
}

code {
  font-family: $code-font;
  padding: 5px;
  overflow: auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  font-size: 85%;
}

blockquote {
  font-style: italic;
  padding-left: 1rem;
  border-left: 10px solid #333;
  margin-left: 0;
}

img {
  width: auto;
  max-width: 100%;
}

.skip {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
