::-webkit-scrollbar {
  width: 12px;
  padding-left: 2px;
  padding-right: 2px;
  background: #757a8b;
}

::-webkit-scrollbar-thumb {
  border: 2px solid #b4b9c9;
  background: #757a8b;
  border-radius: 4px;
  max-width: 5px;
}

.goog-te-banner-frame {
  bottom: 0;
  top: unset !important;
  display: none;
}
