DB_URL=mongodb://mongodb:27017/?compressors=zlib&gssapiServiceName=mongodb
DB_NAME=a11ywatch
ENGINE_API_KEY=service:ada-tool:somekey
CLIENT_URL=http://localhost:3000
WATCHER_CLIENT_URL=https://rocket-example-test.herokuapp.com
GRAPHQL_PORT=8080
EMAIL_SERVICE_URL=support@someemail.com
EMAIL_MAIN_LEAD=emailforreports@someemail.com
EMAIL_SERVICE_PASSWORD=SomePassword
EMAIL_CLIENT_ID=someid
EMAIL_CLIENT_KEY=
STRIPE_KEY=sk_live_someprodkey
SCRIPTS_CDN_URL=http://localhost:8090/api
PUPPET_SERVICE=http://angelica:8040
ROOT_URL=http://localhost:8080
STRIPE_BASIC_PLAN=GMQ2fFtne1nSXq
STRIPE_PREMIUM_PLAN=GP2HN1V18qAP9i

DOCKER_ENV=true
PRIVATE_KEY=
PUBLIC_KEY=
